@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-primary: #1e5e44;
    --color-primary-800: #14532d;
}
