@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-primary: #1e5e44;
    --color-primary-800: #14532d;
}


/* Custom Admin Theme Styles */

.fi-sidebar {
    @apply bg-primary;
}

/* Sidebar Item Styles */
.fi-sidebar-item-label,
.fi-sidebar-item-icon,
.fi-sidebar-group-label {
    @apply text-white;
}

/* Active Sidebar Item Styles */
.fi-sidebar-item.fi-active.fi-sidebar-item-has-url {
    .fi-sidebar-item-label,
    .fi-sidebar-item-icon {
        @apply text-primary-800;
    }
}

/* Hovered Sidebar Item Styles */
.fi-sidebar-item:hover {
    .fi-sidebar-item-label,
    .fi-sidebar-item-icon {
        @apply text-primary-800;
    }
}
